@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
body{
    padding: 100px;
    font-family: 'Oswald', sans-serif;
}
style.css
.title{
    font-size: 3rem;
}

button{
    border: none;
}

.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

#transaction-area{
    display: none;
}

.status{
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.deposit{
    background-color: slateblue;
}
.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}




